body{
	margin: 0 auto;
	background: url(../images/bckimg3.png) repeat fixed 0 0 #F6F6F6;
}
#container
{
	margin: 0 auto;
	width: 980px;
	background: #EBD8CE;
	opacity:0.85;
	border-style:black solid 3px;
	font-family: 'Cuprum', arial, serif;
}
h2{
 text-shadow: #2c2c2c 1px 1px 5px;
 font-family: helvetica, arial, serif;
}
#header
{
	/*background: url(../images/logo1.png) no-repeat fixed 20% 4% #F6F6F6;*/
	background: #757886;
	padding: 40px;

}
#vision{
    position:relative;
    left:100px;
    padding-top:10px;
}
#vision h4{
 text-shadow: #2c2c2c 1px 1px 5px;
 font-family: 'Orbitron', arial, serif;
}
#vision h5{
 text-shadow: #2c2c2c 1px 1px 5px;
 font-family: 'Orbitron', arial, serif;
}
#header h1 { 
float:left;
margin: 0; 
font-family: 'Orbitron', arial, serif;
/*text-align: center;
	text-transform: uppercase;*/
	text-shadow: #2c2c2c 3px 3px 5px;

clear:both;
}
#subheader{
padding-left:250px;
clear:both;
margin: 0; 
font-family: 'Orbitron', arial, serif;
font-size:1em;
text-shadow: #2c2c2c 2px 2px 5px;
}
#navigation
{
	float: left;
	width: 100%;
	background:#1B1D21;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
     text-shadow: #FFFF00 1px 1px 5px;
	list-style-type: none;
	display: inline;
	font-family: 'Orbitron', arial, serif;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#content-container1
{
	float: left;
	width: 100%;
	background: #757886;
	/*background: #fff url(../images/layout-three-liquid-background1.gif) repeat-y 20% 0; */
}

#section-navigation
{
	float: left;
	width: 20%;
	padding: 20px 0;
	margin: 0 2%;
	display: inline;
}

#section-navigation ul
{
	margin: 0;
	padding: 0;
}

#section-navigation ul li
{
	margin: 0 0 1em;
	padding: 0;
	list-style-type: none;
}

#content
{
	float: left;
	width: 56%;
	padding: 20px 0;
	margin: 0 0 0 2%;
}

#content h2 { margin: 0; }

#aside
{
	float: right;
	width: 16%;
	padding: 20px 0;
	margin: 0 2% 0 0;
	display: inline;
}

#aside h3 { margin: 0; }
a:link{
color:#006957;
}
a:hover{
color:#D78A33;
}
#footer
{
    font-family: 'Orbitron', arial, serif;
    font-size:0.8em;
	clear: both;
	background: #272A2E;
	text-align: center;
	padding: 20px;
	height: 4%;
}
.special{
font-family: 'Orbitron', arial, serif;
font-size:0.75em;
text-shadow: #2c2c2c 2px 2px 5px;
}
